* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.header {
    background-color: #fde600;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.logo {
    height: 90px;
    margin-bottom: 10px;
}

.search-container {
    display: flex;
    gap: 6px;
    align-items: center;
}

.search-input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    height: 35px;
}

.search-btn {
    padding: 10px 20px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    height: 35px;

}

.search-btn:hover {
    background-color: #e6e6e6;
}

.main {
    padding: 30px 0;
}

.section-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.product-card{
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.product-card:hover {
    transform: translate(10px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

}

.product-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 15px;
    border-radius: 8px;
}

.product-title {
    font-size: 18px;
    margin-bottom: 10px;
    height: 48px;
    overflow: hidden;
}

.product-price {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.product-discount {
    font-size: 16px;
    color: #029700;
    font-weight: bold;
}

.hero {
    background-image: url(https://http2.mlstatic.com/D_NQ_963172-MLA97798572334_112025-OO.webp);
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
    text-align: center;
    padding-bottom: 50px;
}
.hero h1 {
    font-size: 35px;
    margin-bottom: 10px;
    
}
.hero p {
    font-size: 20px;
}
.footer { 
    background-color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
    border-top: 2px solid #fde600;
}
.footer p {
    color: #777;
    font-size: 14px;
} 